.nav {
  display: block;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200;
  padding: 30px;
  background-image: linear-gradient(180deg, #000, rgba(0, 0, 0, 0.8) 59%, transparent);
}

.nav_container {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.main_section {
  display: block;
  position: relative;
  top: 75px;
  height: 700px;
}

.section {
  display: block;
  height: auto;
  padding-top: 59px;
  padding-bottom: 59px;
}

.container {
  display: flex;
  height: 100%;
  padding-top: 0px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.side_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.side_box>.name {
  font-size: 3em;
}

.side_box>.paragraph {
  text-align: justify;
  padding-right: 90px;
  line-height: 24px;
  padding-right: 125px;
  color: #999;
}

.side_image {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.side_image_m {
  object-fit: contain;
}